.action-tab {
    min-width: 64px;
}

.action-tab a {
    float: left;
    margin-right: 1px 2px;
}

input.md-input {
    padding: 3px !important;
}

.dash-card-container {
    margin-top: 20px;
}

.dash-cards h2 {
    font-size: 20px;
}

.pagination {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 0;
}

.pagination > li {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    margin: 3px;
}

.pagination > li a,
.pagination > li span {
    padding: 3px 4px;
    background-color: #f7f7f7;
    color: #666;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    text-shadow: 0 1px 0 #fff;
}

.pagination > li.active > span {
    background-color: #C61F51;
    background-image: none;
    color: #fff;
    text-shadow: none;
}

#loader {
    position: fixed;
    font-size: 40px;
    left: 50%;
    top: 10%;
    display: block;
    z-index: 9999;
}

table .number,
table .number * {
    text-align: right !important;
}

a.action-btn {
    border-radius: 50%;
    min-width: 0px !important;
    width: 30px;
    margin-left: 0px !important;
    padding: 0px;
}

input[type=number],
select {
    font-size: 12px !important;
}

td input[type="number"] {
    border: none;
    background: gainsboro;
    margin: 0;
    padding: 5px 0;
    border-radius: 3px;
}

.no-show {
    display: none;
}

.filters-float {
    position: absolute;
    right: 5px;
}

.date-filter {
    width: 250px;
    float: right;
}

.title {
    text-align: right;
    float: left;
    width: 50%;
    margin-top: 10px;
}

.flag {
    height: 20px;
    vertical-align: middle;
}

.title h2 {
    float: right;
    margin-top: 0;
    color: #C61F51;
}

.title img {
    float: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

.cd-title {
    color: #CC3F5B !important;
    font-size: 16px;
}

.dataTables_wrapper {
    margin-top: 20px;
}

.uk-form-small {
    height: 30px !important;
}

@media only screen and (max-width: 40.0625em) {
    .title h2 {
        font-size: .8rem;
        text-align: left;
        float: none;
    }
    .title {
        width: 70%;
    }
    .title img {
        float: left;
    }
    #header_main .user_actions .user_action_icon {
        display: none !important;
    }
    .md-user-image {
        width: 24px;
    }
}
